.nav-bar {
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 .1rem .1rem rgb(211, 211, 211);
    font-family: 'Reddit Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    padding: 1.5rem;
    text-align: left;
}

#nav-title {
    color: rgb(58, 57, 57);
}

#input-bar {
    display: inline-block;
    color: rgb(173, 172, 172);
}

#input-bar::before {
    content: "Search: /r/";
    display: inline-block;
}

#input-bar input {
    color: rgb(173, 172, 172);
    border-style: none;
}
