.nav-bar {
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 .1rem .1rem rgb(211, 211, 211);
    font-family: "Reddit Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reddit-icon {
    font-size: 50px;
    color: rgb(171, 25, 190);
    margin: 0rem .5rem;
}

#nav-title {
    color: rgb(58, 57, 57);
}


#input-wrapper input {
    border-radius: 1rem;
}