.comment-wrapper {
    width: 650px;
    height: 200px;
    overflow-y: auto;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.comment-wrapper h3 {
    margin: 2px 0;
    font-size: 14px;
    word-wrap: break-word;
  }

  .comment-wrapper h3:first-child {
    font-weight: bold;
    color: #1a1a1b;
  }
  
  .comment-wrapper h3:nth-child(2) {
    font-weight: normal;
    color: #1c1c1c;
  }

  .comment-wrapper h3:last-child {
    font-size: 12px;
    color: #7c7c7c;
  }