.posts {
    padding: 3rem 3rem;
    margin: 1rem auto;
    width: 75%;
    box-shadow: .125rem .15rem .125rem .15rem rgb(189, 188, 188);
    font-family: "Reddit Sans", sans-serif;
    border-radius: 1rem;
}

#post-title h3 {
    padding: 2rem;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    color: rgb(8, 8, 8)
}

#post-image {
    display: flex;
    justify-content: center;
    width: 2;
    height: 75%;
}

img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 1rem;
}

#post-text {
    font-weight: 200;
}