.reddit-post {
    padding: 2rem 2rem 6rem 6rem;
    margin: 0 auto;
    width: 50%;
    box-shadow: .125rem .15rem .125rem .15rem rgb(189, 188, 188);
}

#post-title {
    padding: 2rem 0rem;

}

#post-image {
    height: auto;
    width: 100%;
}

img {
    height: auto;
    width: 50%;
}